<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/dist/jquery.validate.min.js"></script>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div id="page-content-wrapper">
             <a href="records.html">   <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button></a>
                <h1>Add New Community Member</h1>
                <form id="memberform">

                    <div class="form-group">
                        <div class="dropdown">
                            <select type="dropdown" class="form-control btn btn-primary dropdown-toggle" id="community" data-toggle="dropdown">Community<span class="caret"></span>
                                        
                                        <option value="[id in database]">Community 1</option>
                                            
                                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" id="fname">
                    </div>

                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" id="lname">
                    </div>

                    <div class="form-group">
                        <input type="checkbox" class="active"><label>Birth Date</label>
                        <input type="date" class="form-control" id="bdate">
                    </div>

                    <!--div class="form-group">
                        <label>Age</label>
                        <input type="number" class="form-control disabled" id="age">
                    </div-->

                    <div class="form-group">
                        <label>Hospital Card Number</label>
                        <input type="number" class="form-control" id="cardNum">
                    </div>

                    <div class="form-group">
                        <label>NHIS Card Number</label>
                        <input type="number" class="form-control" id="nhisNum">
                    </div>

                    <div class="form-group">
                        <label>NHIS expiry date</label>
                        <input type="date" class="form-control" id="nhisExpiry">
                    </div>

                    <button class="btn btn-primary form-control" onclick="storeMember()">Save</button>
                    <br><br>
                </form>

            </div>


            <!-- <div class="tab-pane" id="opd" role="tabpanel">
            <form>
                basic form goes here.
            </form>
        </div>



        <div class="tab-pane" id="vaccination" role="tabpanel">
            <form>
                basic form goes here.
            </form>
        </div>



        <div class="tab-pane" id="familyplanning" role="tabpanel">
            <form>








                <!--ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#" role="tab">Main</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#">OPD</a></li>
                <li><a href="#">Vaccine</a></li>
                <li><a href="#">Family Planning</a></li>
            </ul>
            <form>
                <!--tab content-->
            <!-- <h3>For Main</h3>
                <div class="row">
                    <div class="dropdown col-xs-4 form-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">CHPS Zone<span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                        </ul>
                    </div>
                    <!--dividing space-->
            <!-- <div class="col-xs-2"></div>
                    <div class="dropdown col-sm-4 form-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">community<span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li><a href="#">Berekuso</a></li>
                            <li><a href="#">another place</a></li>
                            <li><a href="#">another other place</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Birth Date</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Age</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>NHIS ID number</label>
                        <input class="form-control" type="text">

                        <!-- div to make sure the cols equal 12 in this row-->
            <!--     <div class="col-xs-1"></div>
                    </div>

                    <h3>For OPD</h3>
                    <h4> vaccination</h4>
                    <div class="row">
                        <div class="dropdown col-xs-3">
                            <button type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">ALL<span class="caret"></span></button>

                            <ul class="dropdown-menu">
                                <li><a href="#">item 1</a></li>
                                <li><a href="#">item 2</a></li>
                                <li><a href="#">item 3</a></li>
                                <li><a href="#">item 4</a></li>
                            </ul>
                        </div>

                        <div class="dropdown col-xs-3">
                            <button type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Select One<span class="caret"></span></button>

                            <ul class="dropdown-menu">
                                <li><a href="#">item 1</a></li>
                                <li><a href="#">item 2</a></li>
                                <li><a href="#">item 3</a></li>
                                <li><a href="#">item 4</a></li>
                            </ul>
                        </div>

                        <div class="checkbox">
                            <label><input type="checkbox">Lab</label>
                        </div>
                        <button class="btn btn-primary">Record</button>

                    </div>

                    <!--<h3>For Vaccine</h3>
                    <div class="form-group">
                        <label><input type="radio" name="radio" id="radio1" checked>Schedule</label>
                        <label><input type="radio" name="radio" id="radio2">Record</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="still a mystery">
                        <button class="form-control btn btn-primary">Record</button>

                        <h3>For Family Planning</h3>
                        <!--start of row-->
            <!--    <div class="row">
                            <div class="dropdown col-xs-5">
                                <button type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Please enter service<span class="caret"></span></button>

                                <ul class="dropdown-menu">
                                    <li><a href="#">item 1</a></li>
                                    <li><a href="#">item 2</a></li>
                                    <li><a href="#">item 3</a></li>
                                    <li><a href="#">item 4</a></li>
                                </ul>
                            </div>

                            <div class="form-group col-xs-5 col-xs-offset-1">
                                <input class="form-control" type="text" placeholder="Quantity">
                            </div>

                            <button class="btn btn-primary">Record</button>
                        </div>
                        end of row
                        <div class="form-group">
                            <h4> There should be some title explaining what this is</h4>
                            <label><input type="radio" name="radio" id="radio1">New Acceptor: accepted for the first time</label>
                            <label><input type="radio" name="radio" id="radio2">Continuing: stopped, but now continuing</label>
                            <label><input type="radio" name="radio" id="radio3">Revisit: revisiting for refill</label>
                        </div>
            </form>-->
            <!--/div-->

            <script src="../Models/indexeddb.js"></script>
            <script src="../js/add-new-community-member-controller.js"></script>
            <script>
                $("#memberform").validate();
            </script>

    </body>

</html>