<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src='../js/index.js'></script>
    <script src='../js/jquery-3.1.1.min.js'></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../Models/members.js"></script>

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container form-inline">

        <!--the side menu-->

        <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <div id="wrapper">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="../index.html">
                       Yaresa
                    </a>
                        </li>
                        <li>
                            <center><a href="../Views/records.html">Records</a></center>
                        </li>
                    </ul>
                </nav>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h1>Community Members</h1>
                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#addMember">Add New Community Member</button><br>
                                <div id="membersList"></div>
                            </div>
                        </div>


                        <div id="editMember" class="modal fade" role="dialog">
                            <!--Modal Content-->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4>Edit Community Member Record details</h4>

                                    </div>

                                    <div class="modal-body">
                                        <form id='addMemberForm'>
                                            <div class='form-group'>
                                                <label>Last name</label>
                                                <input type='text' class='form-control' id='firstname' value=bota>
                                            </div>
                                            <div class='form-group'>
                                                <label>Other names</label>
                                                <input type='text' class='form-control' id='lastname' value=florence>
                                            </div>
                                            <div class='form-group'>

                                                <label>Community</label>
                                                <input type='text' class='form-control' id='community' value=Berekuso></div>
                                            <div class='form-group'>

                                                <label>Birth date</label>
                                                <input type='date' placeholder='Lab Report' class='form-control' id='bdate' value=1995-12-12></div>
                                            <div class='form-group'>

                                                <label>Gender</label>
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="gender" value='M'>Male</label>
                                                </div>
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="gender" value='F' checked>Female</label>
                                                </div>
                                            </div>
                                            <div class='form-group'>

                                                <label>NHIS ID number</label>
                                                <input type='number' class='form-control' id='nhisnum' value=54322></div>
                                            <div class='form-group'>

                                                <label>NHIS Expiry date</label>
                                                <input type='date' class='form-control' id='nhisExpiry' value=2017-12-30></div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editMember()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Add Modal-->

                        <div id="addMember" class="modal fade" role="dialog">
                            <!--Modal Content-->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4>Edit Community Member Record details</h4>

                                    </div>

                                    <div class="modal-body">
                                        <form id='addMemberForm'>
                                            <div class='form-group'>
                                                <label>Last name</label>
                                                <input type='text' class='form-control' id='efirstname'>
                                            </div>
                                            <div class='form-group'>
                                                <label>Other names</label>
                                                <input type='text' class='form-control' id='elastname'>
                                            </div>
                                            <div class='form-group'>

                                                <label>Community</label>
                                                <input type='text' class='form-control' id='ecommunity'></div>
                                            <div class='form-group'>

                                                <label>Birth date</label>
                                                <input type='date' placeholder='Lab Report' class='form-control' id='ebdate'></div>
                                            <div class='form-group'>

                                                <label>Gender</label>
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="egender" value='M'>Male</label>
                                                </div>
                                                <div class="radio">
                                                    <label class="radio-inline"><input type="radio" name="egender" value='F'>Female</label>
                                                </div>
                                            </div>
                                            <div class='form-group'>

                                                <label>NHIS ID number</label>
                                                <input type='number' class='form-control' id='enhisnum'></div>
                                            <div class='form-group'>

                                                <label>NHIS Expiry date</label>
                                                <input type='date' class='form-control' id='enhisExpiry'></div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addMember()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <script src="../Controllers/MembersController.js"></script>
            <script>
                                                                                                                    $(document).ready(function () {
                                                                                                                        console.log('inside doc ready fxn. about to call popoulate member.')
                                                                                                                        populateMembers()
                                                                                                                    });
            </script>
            <script src='../js/hamburger.js'></script>
            <script>
                $(document).ready(hamburger());
            </script>



            </div>
            <!-- /#wrapper -->
            <script href="../js/index.js"></script>
            <script src="../js/jquery-3.1.1.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
            <script src="../js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>


            <!--<script type="text/javascript" src="../Models/indexeddb.js"></script>-->
            <script src="../Controllers/RecordsController.js"></script>
</body>

</html>